bind_addr: "127.0.0.1:8080"
database: 
  type:     "sqlite"
  host:     "./db.sqlite3"
  port:     0
  username: ""
  password: ""
  db_name:   ""
log_level: 1
jwt_key:   "secretissecretbutsecretisnotsecure"
feishu:
  enable: false
  app_id:       ""
  app_secret:   ""
  redirect_url: ""
oidc:
  enable: false
  # Used by /api/v1/user/oidc/enable
  logo_url: ""
  # Used by /api/v1/user/oidc/enable
  name: ""
  auth_url: ""
  token_url: ""
  user_info_url: ""
  client_id: ""
  app_secret: ""
  redirect_url: ""
  scope: ""
  # JSONPath for OIDCInfo
  info_path:
      name: ""
      id: ""
      email: ""
      error: ""
